In [24]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

In [25]:
df = pd.read_csv("data.csv")  # input the data set
print(df)  # printing the first and last 5 rows

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

In [22]:
datatypes = df.dtypes 
print(datatypes)

Make                  object
Model                 object
Year                   int64
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
highway MPG            int64
city mpg               int64
MSRP                   int64
dtype: object

In [28]:
del df['Engine Fuel Type']
del df['Market Category']
del df['Vehicle Style']
del df['Popularity']
del df['Number of Doors']
del df['Vehicle Size']
print(df)

          Make       Model  Year  Engine HP  Engine Cylinders  \
0          BMW  1 Series M  2011      335.0               6.0
1          BMW    1 Series  2011      300.0               6.0
2          BMW    1 Series  2011      300.0               6.0
3          BMW    1 Series  2011      230.0               6.0
4          BMW    1 Series  2011      230.0               6.0
...        ...         ...   ...        ...               ...
11909    Acura         ZDX  2012      300.0               6.0
11910    Acura         ZDX  2012      300.0               6.0
11911    Acura         ZDX  2012      300.0               6.0
11912    Acura         ZDX  2013      300.0               6.0
11913  Lincoln      Zephyr  2006      221.0               6.0

      Transmission Type      Driven_Wheels  highway MPG  city mpg   MSRP
0                MANUAL   rear wheel drive           26        19  46135
1                MANUAL   rear wheel drive           28        19  40650
2                MANUAL   rear wheel drive           28        20  36350
3                MANUAL   rear wheel drive           28        18  29450
4                MANUAL   rear wheel drive           28        18  34500
...                 ...                ...          ...       ...    ...
11909         AUTOMATIC    all wheel drive           23        16  46120
11910         AUTOMATIC    all wheel drive           23        16  56670
11911         AUTOMATIC    all wheel drive           23        16  50620
11912         AUTOMATIC    all wheel drive           23        16  50920
11913         AUTOMATIC  front wheel drive           26        17  28995

[11914 rows x 10 columns]

In [30]:
df.rename(columns={'Engine HP': 'HP', 'Engine Cylinders': 'Cylinders', 'Transmission Type': 'Transmission','Driven_Wheels': 'Drive Mode','highway MPG': 'MPG-H','city mpg': 'MPG-C','MSRP':'Price'}, inplace=True)
print(df)

          Make       Model  Year     HP  Cylinders Transmission  \
0          BMW  1 Series M  2011  335.0        6.0       MANUAL
1          BMW    1 Series  2011  300.0        6.0       MANUAL
2          BMW    1 Series  2011  300.0        6.0       MANUAL
3          BMW    1 Series  2011  230.0        6.0       MANUAL
4          BMW    1 Series  2011  230.0        6.0       MANUAL
...        ...         ...   ...    ...        ...          ...
11909    Acura         ZDX  2012  300.0        6.0    AUTOMATIC
11910    Acura         ZDX  2012  300.0        6.0    AUTOMATIC
11911    Acura         ZDX  2012  300.0        6.0    AUTOMATIC
11912    Acura         ZDX  2013  300.0        6.0    AUTOMATIC
11913  Lincoln      Zephyr  2006  221.0        6.0    AUTOMATIC

              Drive Mode  MPG-H  MPG-C  Price
0       rear wheel drive     26     19  46135
1       rear wheel drive     28     19  40650
2       rear wheel drive     28     20  36350
3       rear wheel drive     28     18  29450
4       rear wheel drive     28     18  34500
...                  ...    ...    ...    ...
11909    all wheel drive     23     16  46120
11910    all wheel drive     23     16  56670
11911    all wheel drive     23     16  50620
11912    all wheel drive     23     16  50920
11913  front wheel drive     26     17  28995

[11914 rows x 10 columns]

In [35]:
print(df.shape)
df.drop_duplicates()
print(df.shape)

(11914, 10)
(11914, 10)